.site-nav .status {
    min-height: 2rem;
    line-height: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.flex {
    display: flex;
}

/* Flash messages */

ul.flashes {
    width: 100%;
    padding-left: 0px;
    list-style-type: none;
}

ul.flashes li {
    padding: 0.5rem;
    color: white;
    background-color: #666
}
ul.flashes li.ok {
    background-color: #393;
}
ul.flashes li.error {
    background-color: #933;
}

/* Forms */

form fieldset {
    margin: 0.5rem;
}
form fieldset>label {
    text-decoration: underline;
    padding-bottom: 0.5rem;
    display: block;
}

ul.errors {
    color: #933;
}

form dt.form-label {
    text-align: left;
}

form dd {
    padding-right: 2rem;
}

form .save {
    margin-top: 2rem;
}

