{% extends "default.html" %}
{% from "_forms.html" import render_field %}

{% block title %}Schedule Configuration{% endblock %}

{% block content %}

<h2>Site Configuration</h2>

<form name="config" autocomplete="off" method="POST">
  <fieldset>
    <label>Deployment Metadata</label>
    {{ render_field(form.SiteName) }}
    {{ render_field(form.SiteLat) }}
    {{ render_field(form.SiteLon) }}
    {{ render_field(form.SiteCrew) }}
  </fieldset>
  
  <input class="save" type="submit" value="Save" />
  
</form>

{% endblock %}
