{% extends "default.html" %}
{% from "_forms.html" import render_field %}

{% block title %}Schedule Configuration{% endblock %}

{% block content %}

<h2>Schedule Configuration</h2>

<form name="config" autocomplete="off" method="POST">
  <fieldset>
    <label>Schedule to activate</label>
    <em> (Ctrl-click or Cmd-click to select multiple)</em>
    <div class="flex">
      {{ render_field(form.weekday) }}
      {{ render_field(form.hour) }}
    </div>
    <p>Attract light will turn on at Start Minute and stay on for Runtime for each hour/day selected above. The camera and flash happen every Interval from the top of the hour, so if you set start time to 5, interval to 10, and runtime to 30, the session will run from :05 to :35 with photos at :10, :20, and :30. If Interval falls on Start Time or Start Time is 0, the next Interval will be the first photo.</p>
    {{ render_field(form.minute) }}
    {{ render_field(form.camera_interval) }}
    {{ render_field(form.runtime) }}
    {{ render_field(form.timezone) }}
  </fieldset>
  <fieldset>
    <label>Flash and Attract</label>
    {{ render_field(form.attractOffPhoto) }}
    {{ render_field(form.onlyflash) }}
    {{ render_field(form.attracttwo) }}
  </fieldset>    
  <input class="save" type="submit" value="Save" />
  
</form>

{% endblock %}
