{% extends "default.html" %}
{% from "_forms.html" import render_field %}

{% block title %}Schedule Configuration{% endblock %}

{% block script %}

<script>
 
</script>
<script src="/static/js/map-lat-lon.js"></script>
<script src="/static/js/site-manage.js"></script>

{% endblock %}

{% block content %}

<h2>Site Configuration</h2>

<form name="config" autocomplete="off" method="POST">
  <fieldset>
    <label>Deployment Metadata</label>
    <div id="siteName" data-name="{{form.SiteName.data}}" data-crew="{{form.SiteCrew.data}}">
      {{ render_field(form.SiteName) }}
      {{ render_field(form.SiteCrew) }}
    </div>
  </fieldset>
  <fieldset>
    <label>Deployment Location</label>
    <div class="flex">
      {{ render_field(form.SiteLat) }}
      {{ render_field(form.SiteLon) }}
    </div>
    <div class="moveMapLabel">Move the pin or double-click the deployed location.</div>
    <div id="map" class="latlonMap"><div id="map-canvas"></div></div>
  </fieldset>
  
  <input class="save" type="submit" value="Save" />
  
</form>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyvYYr8Y6CkT3K6NUh-UO-Nj5_YsLC2E&loading=async&callback=createMap"></script>

{% endblock %}
