<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{% block title %}{% endblock %} | {{ site.title }}</title>
  
  <link rel="stylesheet" href="/static/css/just-the-docs-default.css">
  <link rel="stylesheet" href="/static/css/just-the-docs-head-nav.css" id="jtd-head-nav-stylesheet">
  <link rel="stylesheet" href="/static/css/custom.css">

  <style id="jtd-nav-activation">
   .site-nav > ul.nav-list:first-child > li > a, .site-nav > ul.nav-list:first-child > li > ul > li:not(:nth-child(2)) > a, .site-nav > ul.nav-list:first-child > li > ul > li > ul > li a { background-image: none; } .site-nav > ul.nav-list:not(:first-child) a, .site-nav li.external a { background-image: none; } .site-nav > ul.nav-list:first-child > li:nth-child(3) > ul > li:nth-child(2) > a { font-weight: 600; text-decoration: none; }.site-nav > ul.nav-list:first-child > li:nth-child(3) > button svg, .site-nav > ul.nav-list:first-child > li:nth-child(3) > ul > li:nth-child(2) > button svg { transform: rotate(-90deg); }.site-nav > ul.nav-list:first-child > li.nav-list-item:nth-child(3) > ul.nav-list, .site-nav > ul.nav-list:first-child > li.nav-list-item:nth-child(3) > ul.nav-list > li.nav-list-item:nth-child(2) > ul.nav-list { display: block; }
  </style>

  <script src="/static/js/just-the-docs.js"></script>  
  
</head>

<body>
  {% include "icons.html" %}
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  <div class="side-bar">
    <div class="site-header" role="banner">
      <a href="/" class="site-title lh-tight">
        {% if site.logo %}
        <div class="site-logo" role="img" aria-label="{{ site.title }}"></div>
        {% else %}
        {{ site.title }}
        {% endif %}        
      </a>
      <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
        <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
      </button>
    </div>
    <nav aria-label="Main" id="site-nav" class="site-nav">
      <ul class="nav-list">
        {% for node in site.nav_pages %}
        {% if node.category %}
        <ul class="nav-list nav-category-list">
          <div class="nav-category">{{ node.category }}</div>
          {% for page in node.pages %}
          <li class="nav-list-item">
            <a href="{{ page.url }}" class="nav-list-link"> {{ page.title }} </a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <li class="nav-list-item">
          <a href="{{ node.url }}" class="nav-list-link"> {{ node.title }} </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>      
      <ul class="nav-list">
        {% for node in site.nav_external_links %}
        <li class="nav-list-item external">
          <a href="{{ node.url }}" class="nav-list-link external"
             {% if node.opens_in_new_tab %}
             target="_blank" rel="noopener noreferrer"
             {% endif %}
          >
            {{ node.title }}
            <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>    
  </div>
  <div class="main" id="top">
    <div id="main-header" class="main-header">
      <div></div>
    </div>
    <div class="main-content-wrap">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{category}}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}      
      <div id="main-content" class="main-content">
        <main>
          {% block content %}
          
          {% endblock %}
        </main>
      </div>
    </div>
  </div>

</body>
</html>
