{% extends "default.html" %}
{% from "_forms.html" import render_field %}

{% block title %}Setup Configuration{% endblock %}

{% block script %}

<script>
 
</script>
<script src="/static/js/map-lat-lon.js"></script>
<script src="/static/js/site-manage.js"></script>
<meta name="htmx-config" content='{"selfRequestsOnly": false}' />

{% endblock %}

{% block content %}

<h2>Setup Configuration</h2>

<form name="config" autocomplete="off" method="POST">
  <fieldset>
    <label>Site</label>
    <div id="siteName" data-name="{{form.SiteName.data}}" data-crew="{{form.SiteCrew.data}}">
      {{ render_field(form.SiteName) }}
      {{ render_field(form.SiteCrew) }}
    </div>
  </fieldset>
  <fieldset>
    <label>Deployment Location</label>
    <div class="flex" style="display:none">
      {{ render_field(form.SiteLat) }}
      {{ render_field(form.SiteLon) }}
    </div>
    <div class="moveMapLabel">Move the pin or double-click the deployed location.
    </div>
    <div id="map" class="latlonMap"><div id="map-canvas"></div></div>
  </fieldset>
  <fieldset>
    <label>Device Setup</label>
    {{ render_field(form.DeviceKey, **{
    "label_extra": "<span id='check_device_key'></span>",
    "hx-get": url_for("config_check_device_key"),
    "hx-target": "#check_device_key",
    "hx-trigger": "change,load"
    }) }}
  </fieldset>

  <fieldset>
    <label>
      Connect to wifi.
    </label>
    <p>Currently connected to:</p>
    <ul>
      {% for d,m in wifi_devices.items()%}
      <li><strong>{{current_connections.get(d, "")}}</strong> on <em>{{d}}</em> at <em>{{m}}</em></li>
      {%endfor%}
    </ul>
    {% if wifi_devices|length == 1 %}
    <p>
      Only one wifi device available, so won't attempt to connect until reboot.
    </p>
    {% endif %}
    {{ render_field(form.ssid) }}
    {{ render_field(form.wifipass) }}
    <datalist id="ssid_list" hx-trigger="load" hx-get="{{ url_for('config_operation_wifi_networks')}}">
    </datalist>
  </fieldset>

  <fieldset>
    <label>Schedule to activate</label>
    <em> (Ctrl-click or Cmd-click to select multiple)</em>
    <div class="flex">
      {{ render_field(form.weekday) }}
      {{ render_field(form.hour) }}
    </div>
  </fieldset>
  
  
  <input class="save" type="submit" value="Save" />
  
</form>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyvYYr8Y6CkT3K6NUh-UO-Nj5_YsLC2E&loading=async&libraries=places&callback=createMap"></script>

{% endblock %}
