{% extends "default.html" %}

{% block title %}Test Device{% endblock %}

{% block content %}

<h2>Test Device</h2>

<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='attract')}}"
          hx-target="next div"
  >Test Attract</button>
  <div></div>
</div>
<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='attracttwo')}}"
          hx-target="next div"
  >Test Attract (2nd strip)</button>
  <div></div>
</div>
<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='flash')}}"
          hx-target="next div"
  >Test Flash</button>
  <div></div>
</div>
<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='camera_raw')}}"
          hx-target="next div"
  >Test Camera (hw)</button>
  <div></div>
</div>
<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='camera')}}"
          hx-target="next div"
  >Test Camera (sw)</button>
  <div></div>
  <div hx-post="{{url_for('test_device', device='photo')}}"
       hx-trigger="every 5s"
  ></div>
</div>

{% endblock %}
