{% extends "default.html" %}

{% block title %}Test Device{% endblock %}

{% block content %}

<h2>Test Device</h2>

<div>
  <button class="action"
          hx-post="{{url_for('test_device', device='attract')}}"
          hx-target="next div"
  >Test Attract</button>
  <div></div>
</div>
<div>
  <button class="action" hx-post="{{url_for('test_device', device='flash')}}">Test Flash</button>
</div>
<div>
  <button class="action" hx-post="{{url_for('test_device', device='camera')}}">Test Camera</button>
</div>

{% endblock %}
